.section {
  padding: 20px;
  margin: 10px;
}

.box-title {
  font-size: 22px;
}
.expertGroup-container {
  padding: 10px;
}


#sort-button {
  float: right;
}

#header-text {
  font-size: 18px; 
  padding: 10px;
}

#instructions {
  font-size: 14px; 
  padding: 10px;
}

.student-warning-high {
  color: blueviolet; 
}

.student-warning-low {
  color: indianred;
}

.infoBar {
  font-size: 14px;
}

.student-list {
  font-size: 22px;
}

.student-list-item {
  font-size: 14px;
  font-weight: bold;
}

.expertGroup-title {
  font-size: 18px;
}

.info-input {
  margin-left: 10px;
  border-radius: 4px;
  height: 20px;
}

.input-button {
  height: 30px; 
  border-radius: 4px;
  font-size: 14px;
}

.student-div {
  margin-left:10px;
  padding:6px;
  padding-top:2px;
}

.content-delete-button {
  margin-left: 6px;
}